<!DOCTYPE hmtl>
<html>
  <head>
  </head>
  <body>

    <h1>Add personal budget</h1>

    <form method="POST" action="/personalbudget/add">
      <label for="Exptype">Exptype:</label>
      <br><br>
      <input type="text" name="Exptype">
      <br><br>
      <label for="value">value:</label>
      <br><br>
      <input type="text" name="value">
      <br><br>
      <label for="color">color:</label>
      <br><br>
      <input type="text" name="color">
      <br><br>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
